#register-form {
  display: none;
}
#container {
  padding: 30px;
  max-width: 550px;
  border: 1px solid green;
  position: relative;
  left: 30%;
  margin-right: -50%;
  background-color: lightgray;
}
form {
  margin: 0 auto;
  width: 300px;
}
input {
  margin-bottom: 3px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
}
button {
  padding: 10px;
  margin-right: 170px;
}
label {
  cursor: pointer;
}
