<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>

<header id="header">
  <div class="container">
    <div id="logo" class="pull-left">
      <div>
        <img style="float:left; margin-right: 8px; margin-top: -5px; max-height: 40px;" src="../../assets/images/broidery.png" alt="">
      </div>
      <h1><a href="" class="scrollto">Broidery</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
    </div>

    <nav id="nav-menu-container">
      <ul id="menu" class="nav-menu">
        <li
          role="presentation"
          routerLinkActive="menu-active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="/">Home</a>
        </li>
        <li role="presentation" routerLinkActive="menu-active">
          <a routerLink="/about_us">Nosotros</a>
        </li>
     <!--   <li role="presentation" routerLinkActive="menu-active">
          <a routerLink="/auth">Login</a>
        </li>
        <li role="presentation" routerLinkActive="menu-active">
          <a routerLink="/sign_in">Registrarse</a>
        </li> -->
        <li role="presentation" routerLinkActive="menu-active">
          <a routerLink="/catalogue">Catalogo</a>
        </li> 
      </ul>
    </nav>
  </div>
</header>
