<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>

<header id="header">
  <div class="container">
    <div id="logo" class="pull-left">
      <h1><a href="" class="scrollto">Broidery</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-active"><a href="">Home</a></li>
        <li><a href="">Nosotros</a></li>
        <li><a href="">Login</a></li>
        <li><a href="">Registrarse</a></li>
        <li><a href="">Productos</a></li>
      </ul>
    </nav>
  </div>
</header>
