<hr>
    <div>
        <div id="dir">
            <img src="{{ title }}" alt="">
            <p>
                Dirección: Viamonte 2622 | CABA 
                <br>
                Telefono: 11-3069-5435
                <br>
                <a style="color: black;"
                href="mailto:broidery.adm@google.com?subject=Consulta%20web"
                >broidery.adm@google.com</a>
                <br>
            </p>
        </div>
    </div>
    <a  onclick="track()" href="https://api.whatsapp.com/send?phone=+5491130695435">
        <div id="icon-whatsapp">        
            <img src="https://static.volandoviajes.com/common/images/whatsapp.png">
            <p style="margin-right: 10px;">   Contáctanos por <strong>Whatsapp</strong></p>
        </div>
    </a>