#parent {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
#wide {
  flex: 1;
  padding: 10px;
  max-height: max-content;
  max-width: 250px;
  min-width: 300px;
}
img {
  min-height: 230px;
  width: 100%;
  border: 1px solid #e6e6e6;
}
h1 {
  display: inline-block;
  text-align: left;
}
#edit {
  padding: 10px;
  flex-grow: 1;
  max-width: 80%;
  padding-right: 100px;
}
input {
  float: right;
  display: inline-flex;
  max-width: 50%;
  margin-bottom: 20px;
}
#activate {
  float: right;
  bottom: 0;
}
label {
  display: inline-block;
  width: 140px;
  text-align: left;
}
button {
  float: right;
}
