<div id="parent" class="row">
  <div id="container" class="col-xs-18">
    <form>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          name="email"
          size="30"
          type="email"
          id="email"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          name="password"
          size="20"
          type="password"
          id="password"
          class="form-control"
        />
      </div>
      <div>
        <button class="btn btn-success">Registrarse</button>
        <!-- <button
          class="btn btn-success"
          (click)="onLogin('email', 'password')"
          type="submit"
        >
          Login
        </button> -->
      </div>
    </form>
  </div>
</div>
