<link
  href="https://fonts.googleapis.com/css2?family=Oswald&display=swap"
  rel="stylesheet"
/>
<div style="padding: 50px; text-align: center;">
  <h1>Productos destacados</h1>
  <div style="padding: 5px;">
    <div class="container">
      <h1
        style="
          font-family: 'Oswald', sans-serif;
          color: forestgreen;
          text-align: left;
          padding: 10;
        "
      >
        Productos
      </h1>
    </div>

    <div id="parent">
      <div id="wide" class="card" *ngFor="let product of products$ | async">
        <img src="{{ product.image }}" />
        <h4>{{ product.description }}</h4>
        <p class="price">{{ product.price }}</p>
        <p>{{ product.composition }}</p>
        <button class="btn btn-primary">Sumar al carrito</button>
      </div>
    </div>
  </div>
</div>
