<link
  href="https://fonts.googleapis.com/css2?family=Oswald&display=swap"
  rel="stylesheet"
/>
<div style="padding: 50px; text-align: center;">
  <h1>Productos destacados</h1>
  <div style="padding: 5px;">
    <div class="container">
      <h1
        style="
          font-family: 'Oswald', sans-serif;
          color: forestgreen;
          text-align: left;
          padding: 10;
        "
      >
        Productos
      </h1>
    </div>

    <div id="parent">
      <div id="wide" class="card">
        <img
          [src]="products[0]"
          alt="TELA TOALLA BATA PESADA - DOBLE FELPA"
          style="width: 100%; border: 1px solid #e6e6e6;"
        />

        <h4>TELA TOALLA BATA PESADA - DOBLE FELPA</h4>
        <p class="price">$19.99</p>
        <p>Ancho: 150 Composición: 100% Algodón Gramaje: 420 GR/M2</p>
        <button class="btn btn-primary">Sumar al carrito</button>
      </div>
      <div id="wide" class="card">
        <img
          [src]="products[1]"
          alt="TELA TOALLA BATA PESADA - DOBLE FELPA"
          style="width: 100%; border: 1px solid #e6e6e6; display: inline-block;"
        />

        <h4>TELA TOALLA BATA PESADA - DOBLE FELPA</h4>
        <p class="price">$19.99</p>
        <p>Ancho: 150 Composición: 100% Algodón Gramaje: 420 GR/M2</p>
        <button class="btn btn-primary">Sumar al carrito</button>
      </div>
      <div id="wide" class="card">
        <img
          [src]="products[2]"
          alt="TELA TOALLA BATA PESADA - DOBLE FELPA"
          style="width: 100%; border: 1px solid #e6e6e6;"
        />

        <h4>TELA TOALLA BATA PESADA - DOBLE FELPA</h4>
        <p class="price">$19.99</p>
        <p>Ancho: 150 Composición: 100% Algodón Gramaje: 420 GR/M2</p>
        <button class="btn btn-primary">Sumar al carrito</button>
      </div>
      <div id="wide" class="card">
        <img
          [src]="products[3]"
          alt="TELA TOALLA BATA PESADA - DOBLE FELPA"
          style="width: 100%; border: 1px solid #e6e6e6;"
        />

        <h4>TELA TOALLA BATA PESADA - DOBLE FELPA</h4>
        <p class="price">$19.99</p>
        <p>Ancho: 150 Composición: 100% Algodón Gramaje: 420 GR/M2</p>
        <button class="btn btn-primary">Sumar al carrito</button>
      </div>
      <div id="wide" class="card">
        <img
          [src]="products[4]"
          alt="TELA TOALLA BATA PESADA - DOBLE FELPA"
          style="width: 100%; border: 1px solid #e6e6e6;"
        />

        <h4>TELA TOALLA BATA PESADA - DOBLE FELPA</h4>
        <p class="price">$19.99</p>
        <p>Ancho: 150 Composición: 100% Algodón Gramaje: 420 GR/M2</p>
        <button class="btn btn-primary">Sumar al carrito</button>
      </div>
      <div id="wide" class="card">
        <img [src]="products[5]" alt="TELA TOALLA BATA PESADA - DOBLE FELPA" />

        <h4>TELA TOALLA BATA PESADA - DOBLE FELPA</h4>
        <p class="price">$19.99</p>
        <p>Ancho: 150 Composición: 100% Algodón Gramaje: 420 GR/M2</p>
        <button class="btn btn-primary">Sumar al carrito</button>
      </div>

      <div id="wide" class="card">
        <img [src]="products[0]" alt="TELA TOALLA BATA PESADA - DOBLE FELPA" />

        <h4>TELA TOALLA BATA PESADA - DOBLE FELPA</h4>
        <p class="price">$19.99</p>
        <p>Ancho: 150 Composición: 100% Algodón Gramaje: 420 GR/M2</p>
        <button class="btn btn-primary">Sumar al carrito</button>
      </div>
      <div id="wide" class="card">
        <img [src]="products[0]" alt="TELA TOALLA BATA PESADA - DOBLE FELPA" />

        <h4>TELA TOALLA BATA PESADA - DOBLE FELPA</h4>
        <p class="price">$19.99</p>
        <p>Ancho: 150 Composición: 100% Algodón Gramaje: 420 GR/M2</p>
        <button class="btn btn-primary">Sumar al carrito</button>
      </div>
      <div id="wide" class="card">
        <img [src]="products[0]" alt="TELA TOALLA BATA PESADA - DOBLE FELPA" />

        <h4>TELA TOALLA BATA PESADA - DOBLE FELPA</h4>
        <p class="price">$19.99</p>
        <p>Ancho: 150 Composición: 100% Algodón Gramaje: 420 GR/M2</p>
        <button class="btn btn-primary">Sumar al carrito</button>
      </div>
      <div id="wide" class="card">
        <img [src]="products[0]" alt="TELA TOALLA BATA PESADA - DOBLE FELPA" />

        <h4>TELA TOALLA BATA PESADA - DOBLE FELPA</h4>
        <p class="price">$19.99</p>
        <p>Ancho: 150 Composición: 100% Algodón Gramaje: 420 GR/M2</p>
        <button class="btn btn-primary">Sumar al carrito</button>
      </div>
    </div>
  </div>
</div>
